PG_CONNECTION_STRING=postgresql://usuario:password@host:5432/database?sslmode=require
MONGO_CONNECTION_STRING=mongodb://usuario:password@host:27017/database
JWT_SECRET_KEY=CAMBIAR_POR_UN_SECRETO_SEGURO
HAPI_FHIR_URL=http://localhost:8080/fhir